<h2>Methods that were not run</h2><table>
<tr><td>main.java.hybridFramework.testBase.TestBase.afterTest</td></tr>
<tr><td>main.java.hybridFramework.testBase.TestBase.launchBrowser</td></tr>
<tr><td>main.java.hybridFramework.testBase.TestBase.afterSuite</td></tr>
</table>