<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>20/04/29 20:55:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.launchBrowser()[pri:0, instance:main.java.hybridFramework.testBase.TestBase@255b53dc]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690859824</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/04/29 20:55:23</td>   <td>14346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.hybridFramework.Login@1dd92fe2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1690859824</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>20/04/29 20:55:23</td>   <td>14357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.login()[pri:0, instance:test.java.hybridFramework.Login@1dd92fe2]">login</td> 
  <td>main@1690859824</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/04/29 20:55:28</td>   <td>19636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.hybridFramework.Login@1dd92fe2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1690859824</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/04/29 20:55:29</td>   <td>20713</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:main.java.hybridFramework.testBase.TestBase@255b53dc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690859824</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>20/04/29 20:55:30</td>   <td>21799</td> <td title="&lt;&lt;TestBase.afterSuite()[pri:0, instance:main.java.hybridFramework.testBase.TestBase@255b53dc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690859824</td>   <td></td> </tr>
</table>
